:root{
    --text-sm:14px;
    --text-base:16px;
     --text-md:18px;
      --text-lg:20px;
       --text-xl:24px;
        --text-xxl:28px;
         --text-xxxl:48px;
          --text-base:64px;
    
}