:root{
    --text-sm:14px;
    --text-base:16px;
     --text-md:18px;
      --text-lg:20px;
       --text-xl:24px;
        --text-xxl:28px;
        --text-xxll:42px;
         --text-xxxl:48px;
          --text-xxxxl:64px;
    
}

@media (max-width:1024px) {
    :root{
      --text-lg:20px;
       --text-xl:22px;
        --text-xxl:24px;
         --text-xxxl:42px;
          --text-xxll:38px;
          --text-xxxxl:58px; 
}  
}

@media (max-width:768px) {
    :root{
    --text-md:16px;
    --text-lg:18px;
    --text-xl:20px;
    --text-xxl:22px;
    --text-xxxl:38px;
     --text-xxll:34px;
    --text-xxxxl:48px; 
} 
}

@media (max-width:640px) {
    :root{
    --text-md:16px;
    --text-lg:18px;
    --text-xl:20px;
    --text-xxl:20px;
     --text-xxll:22px;
    --text-xxxl:24px;
    --text-xxxxl:40px; 
} 
}